.sign-in.p-xlarge.mx-auto
  h1.h-2 Activate your account by setting a password
  .panel
    .panel__primary
      form.sign-in__form action="/admin/users/activate/#{user.activation_token}" method="post"
        == csrf_tag
        fieldset.mb-small
          == form.formalist_ast
        p
          button.button.button--primary type="submit" Save
