.sign-in.p-xlarge.mx-auto
  h1.h-2 Forgotten your password?
  .panel
    .panel__primary
      form.sign-in__form action="/admin/users/forgot-password" method="POST"
        == csrf_tag
        fieldset.mb-small
          == form.formalist_ast
        p
          button.button.button--primary type="submit" Submit
