.sign-in.p-xlarge.mx-auto
  h1.h-2 Set your password
  .panel
    .panel__primary
      form.sign-in__form action="/admin/users/reset-password/#{user.password_reset_token}" method="post"
        == csrf_tag
        fieldset.mb-small
          == form.formalist_ast
        p
          button.button.button--primary type="submit" Save
