tr id="story-#{story.id}" data-view-row-link=JSON.generate(href: "/admin/stories/#{story.id}/edit")
  td
    a href="/admin/stories/#{story.id}/edit" = story.id
  td
    = story.photograph.slq_identifier
  td
    = story.display_created_at
  td
    = story.contributor_images.count
  td
    = story.contributor.full_name
  td
    = story.published
  td.t-right width="150"
    == render :edit_button, path: "/admin/stories/#{story.id}/edit", title: "Edit"
