p.link-children
  a> href="/admin/stories" Stories
  span.c-grey-mid
    ' /
h1.h-1
  = "Editing ‘#{story.id}’"
  == render :delete_button, path: "/admin/stories/#{story.id}", confirmation: "Are you sure you want to delete this story? You can mark it unpublished to hide it from public display"
.panel
  .panel__primary
    form action="/admin/stories/#{story.id}" method="post"
      == csrf_tag
      input type="hidden" name="_method" value="put"
      fieldset
        legend.hide-visually Edit story
        == form.formalist_ast
      p
        button.button.button--primary type="submit" Save changes

  == render :help, template: "help/stories"

.panel.panel--flush
  .panel__primary
    h2.h-2 Images
    - if story.contributor_images.any?
      p.m-small This story has the following images attached:
      - story.contributor_images.each do |contributor_image|
        == render :contributor_image, contributor_image: contributor_image
        p.mt-large
          a.link href="/admin/contributor-images/#{contributor_image.id}/edit" Edit image
    - else
      p.m-small This story has no images
