== render :actions

h1.h-1 Stories

.panel
  .panel__primary
    p Newly submitted stories are published immediately by default. To change this setting, ask an SLQ network administrator to set the Heroku environment variable IMMEDIATE_STORY_PUBLICATION to false.



.panel.panel--flush
  .panel__primary
    - if stories.any?
      .table.link-children.mb-large
        table
          thead
            tr
              th ID
              th Photograph SLQ Identifier
              th Created at
              th Image count
              th Contributor
              th Published?
              th.t-right Actions
          tbody
            - stories.each do |story|
              == render :index_row, story: story

        == stories.pagination

    - else
      p No stories yet

  == render :help, template: "help/stories"
