h1.pb-xsmall Edit your account
.panel.bg-white.mt-medium.p-medium
  .panel
    form.sign-up__form action="/account" method="post"
      == csrf_tag
      input type="hidden" name="_method" value="put"
      fieldset.mb-small
        label.form-label.mb-xsmall class=("form-label--error" if errors[:first_name]) for="contributor-first-name" First name
        input.form-input class=("form-input--error" if errors[:first_name]) type="text" name="contributor[first_name]" id="contributor-first-name" placeholder="Your first name" value=input[:first_name]
        - if errors[:first_name]
          .form-error= errors[:first_name].join(", ")
      fieldset.mb-small
        label.form-label.mb-xsmall class=("form-label--error" if errors[:last_name]) for="contributor-last-name" Last name
        input.form-input class=("form-input--error" if errors[:last_name]) type="text" name="contributor[last_name]" id="contributor-last-name" placeholder="Your last name" value=input[:last_name]
        - if errors[:last_name]
          .form-error= errors[:last_name].join(", ")
      fieldset.mb-small
        label.form-label.mb-xsmall class=("form-label--error" if errors[:email]) for="contributor-email" Email
        input.form-input class=("form-input--error" if errors[:email]) type="email" name="contributor[email]" id="contributor-email" placeholder="your@email.com" value=input[:email]
        - if errors[:email]
          .form-error= errors[:email].join(", ")
      fieldset.mb-large
        label.form-label.mb-xsmall class=("form-label--error" if errors[:password]) for="contributor-password" Password (leave blank unless updating)
        input.form-input class=("form-input--error" if errors[:password]) type="password" name="contributor[password]" id="contributor-password" placeholder="Your password"
        - if errors[:password]
          .form-error= errors[:password].join(", ")
      fieldset.mb-large
        label.form-label.mb-xsmall class=("form-label--error" if errors[:password_confirmation]) for="contributor-password-confirmation" Password confirmation
        input.form-input class=("form-input--error" if errors[:password_confirmation]) type="password" name="contributor[password_confirmation]" id="contributor-password-confirmation" placeholder="Confirm your password"
        - if errors[:password_confirmation]
          .form-error= errors[:password_confirmation].join(", ")
      p
        button.button.button--primary type="submit" Update
