h1.pb-xsmall Your account
.panel.bg-white.mt-medium.p-medium
  p.pb-xsmall.t-bold.t-medium = current_contributor.full_name
  p.pb-small = current_contributor.email
  a.button.mr-small href="/account/edit" Update your account
  a.button href="/contributors/sign-out" Sign out
