doctype html
html xmlns="http://www.w3.org/1999/xhtml" lang="en-au"
  head
    meta name="viewport" content="width=device-width" initial-scale="1"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="x-apple-disable-message-reformatting"
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type"
    title= "*|MC:SUBJECT|*"

    style data-premailer="ignore"
      ' @import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,700');

    css:
      /* Client specific */
      #outlook a {
        padding: 0;
      }
      .ReadMsgBody {
        width: 100%;
      }
      .ExternalClass {
        width: 100%;
      }
      .ExternalClass,
      .ExternalClass p,
      .ExternalClass span,
      .ExternalClass font,
      .ExternalClass td,
      .ExternalClass div {
        line-height: 100%;
      }
      body,
      table,
      td,
      p,
      a,
      li,
      blockquote {
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
      }
      table,
      td {
        mso-table-lspace: 0pt;
        mso-table-rspace: 0pt;
      }
      img {
        -ms-interpolation-mode: bicubic;
      }

      /* Reset */
      img {
        border: 0;
        height: auto;
        line-height: 100%;
        outline: none;
        text-decoration: none;
      }
      table {
        -premailer-cellpadding: 0;
        -premailer-cellspacing: 0;
        border-collapse: collapse !important;
        margin: 0;
        padding: 0;
      }
      p {
        color: #333;
        font-family: "Fira Mono", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 20px;
        line-height: 1.4;
        margin: 0;
        padding: 0 20px 20px;
      }
      p:empty {
        display: none !important;
      }

      /* Base */
      body {
        background-color: #f7f7f7;
        color: #333;
        font-family: "Fira Mono", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 1.35;
        margin: 0;
        padding: 0;
        height: 100% !important;
        width: 100% !important;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
      }
      a,
      a:hover,
      a:visited,
      a:active {
       color: #FA4617;
       text-decoration: underline;
      }
      strong,
      b,
      .inline--strong {
        font-weight: bold;
      }
      em,
      i,
      .inline--italic {
        font-style: italic;
      }
      del,
      .inline--strikethrough {
        text-decoration: line-through;
      }
      u,
      .inline--underline {
        text-decoration: underline;
      }
      .white-link {
        color: #ffffff !important;
      }
      .grey-link {
        color: #888888 !important;
      }

      /* Wrapper tables */
      .wrapper-table {
        height: 100% !important;
        width: 100% !important;
      }
      .inner-table {
        background-color: #fff;
        width: 600px;
        max-width: 600px;
        margin: 0 auto;
      }
      .section-table {
        background-color: #fff;
        text-align: left;
        width: 100%;
      }

      /* Header */
      .header-table {
        background-color: #fff;
      }
      .header-wrapper {
        border-bottom: 1px solid #ccc !important;
        background-color: #fff;
      }
      .header-left {
        background-color: #fff;
        float: left;
        padding-top: 30px;
        padding-bottom: 30px;
      }
      .header-right {
        background-color: #fff;
        float: right;
        padding-top: 32px;
        padding-bottom: 30px;
        text-align: right;
      }
      .header-anchor {
        display: block;
        width: 122px;
        height: 46px;
      }
      .header-logo {
        width: 122px;
        height: 46px;
      }
      .header-about {
        color: #333;
        font-size: 16px;
        font-family: "Fira Mono", "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding-right: 0;
        padding-bottom: 0;
      }
      .header-about-highlight {
        color: #cf0607;
      }

      /* Body */
      .main-body {
        padding-top: 30px;
        padding-bottom: 30px;
      }

      /* Footer */
      .corley_collection-footer-table {
        background-color: #333;
        color: #fff;
      }
      .corley_collection-footer-table-inner {
        width: 580px;
        max-width: 580px;
        margin: 0 auto;
      }
      .footer-about {
        color: #fff;
        font-size: 16px;
        font-family: "Fira Mono", "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding-top: 50px;
        padding-bottom: 50px;
      }
      .footer-logos-container {
        padding-bottom: 45px;
      }
      .footer-logos {
        width: 280px;
        max-width: 280px;
      }
      .footer-logo {
        width: 25%;
      }
      .footer-links {
        padding-bottom: 50px;
      }
      a.footer-link,
      a.footer-link:link,
      a.footer-link:visited,
      a.footer-link:active {
        color: #ffffff !important;
        display: inline-block;
        font-size: 15px;
        font-family: "Fira Mono", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-decoration: underline;
        margin-left: 2rem;
        margin-right: 2rem;
      }
      a.footer-link--first {
        margin-left: 0;
      }
      a.footer-link--last {
        margin-right: 0;
      }

      /* Mobile styles */
      @media only screen and (max-width: 600px) {
        body,
        table,
        td,
        p,
        a {
          -webkit-text-size-adjust:none !important;
        }
        body {
          width: 100% !important;
          min-width: 100% !important;
        }
        .inner-table,
        .section-table,
        .section-table-inner {
          width: 100% !important;
        }
        p {
          font-size: 18px !important;
        }
      }
      @media only screen and (max-width: 600px) {
        body {
          font-size: 14px !important;
        }
        .header-left {
          float: none !important;
          padding-bottom: 20px !important;
          width: 100% !important;
        }
        .header-anchor {
          margin-left: auto !important;
          margin-right: auto !important;
        }
        .header-right {
          float: none !important;
          padding-top: 0 !important;
          text-align: center !important;
          width: 100% !important;
        }
        .header-about {
          font-size: 15px !important;
        }
        .header-about br {
          display: none !important;
        }
        a.heading-anchor {
          font-size: 16px !important;
        }
        p {
          font-size: 16px !important;
        }
        .corley_collection-footer-table-inner {
          width: 100% !important;
        }
        .footer-about {
          font-size: 15px !important;
        }
        .footer-links {
          padding-bottom: 40px !important;
        }
        a.footer-link {
          display: block !important;
          text-align: center !important;
          margin-left: 0 !important;
          margin-right: 0 !important;
          margin-bottom: 10px !important;
        }
      }

  body leftmargin="0" marginheight="0" marginwidth="0" offset="0" topmargin="0" bgcolor="#f7f7f7"

    / Wrapper
    table.wrapper-table border="0" height="100%" width="100%" align="center"
      tr
        td width="100%" valign="top"
          center

            / Inner table
            table.inner-table border="0" width="600" align="center"
              tr
                td bgcolor="#ffffff" width="600" valign="top"

                  / Body
                  table.section-table.body-table border="0" width="100%"
                    tr
                      td.main-body bgcolor="#ffffff" width="600" valign="top"

                        / Main body
                        == yield

