.flash.c-white.nav-aware
  - if flash[:alert]
    .flash__message.flash__message--hidden.flash__message--system.bgc-warning.clearfix.px-large.py-medium.br-medium
      p.fl-left = flash[:alert]
      button.flash__dismiss.fl-right data-view-toggle-class=JSON.generate({ \
        event: "click", \
        triggerAfter: 8000, \
        targetSelector: ".flash__message--system", \
        targetLoadClassName: "flash__message--hidden", \
        targetToggleClassName: "flash__message--hidden" })
        span.hide-all Dismiss
        span.flash__x.f-fallthrough.t-large ×
  - if flash[:notice]
    .flash__message.flash__message--hidden.flash__message--notice.bgc-notice.clearfix.px-large.py-medium.br-medium
      p.fl-left = flash[:notice]
      button.flash__dismiss.fl-right data-view-toggle-class=JSON.generate({ \
        event: "click", \
        triggerAfter: 8000, \
        targetSelector: ".flash__message--notice", \
        targetLoadClassName: "flash__message--hidden", \
        targetToggleClassName: "flash__message--hidden" })
        span.hide-all Dismiss
        span.flash__x.f-fallthrough.t-large ×
