nav.nav.nav-aware role="nav"
  .nav__content
    .nav-group
      .nav-list
        a.nav-list__link href="/admin" Dashboard

    .nav-group data-view-nav-group=""
      h2.nav-group__header Content
      .nav-list
        a.nav-list__link href="/admin/photographs"
          | Photographs
        a.nav-list__link href="/admin/spools"
          | Spools
        a.nav-list__link href="/admin/tags"
          | Tags
        a.nav-list__link href="/admin/contributors"
          | Contributors
        a.nav-list__link href="/admin/stories"
          | Stories
        a.nav-list__link href="/admin/contributor-images"
          | Contributor images

    .nav-group data-view-nav-group=""
      h2.nav-group__header Analytics
      .nav-list
        a.nav-list__link href="/admin/analytics/photographs"
          | Photograph
        a.nav-list__link href="/admin/analytics/contributors"
          | Contributor
        a.nav-list__link href="/admin/analytics/stories"
          | Story

    .nav-group data-view-nav-group=""
      h2.nav-group__header Admin
      .nav-list
        a.nav-list__link href="/admin/users"
          | Users

    .nav-user
      .copy
        p
          ' You’re logged in as:
          strong.t-nowrap
            == current_user.email

      .nav-list
        a.nav-list__link href="/admin/user/edit"
          ' Account
        a.nav-list__link href="/admin/sign-out" data-view-confirm-click=JSON.generate({question: "Are you sure you want to log out?"})
          ' Log out
          span.f-fallthrough →
