h1.h-1 Contributor analytics

.panel
  .panel__primary
    h2.h-smallcaps.mb-small Contributor sign ups by month
    p.mb-small #{total_contributors_count} total contributors

    .admin-charts__wrapper
      .admin-charts__item
        canvas data-view-bar-chart=JSON.generate({ \
            labels: created_contributors_by_month.map(&:formatted_month).reverse, \
            datasets: [{label: "Contributor sign ups", backgroundColor: "rgba(115,171,242,0.4)", data: created_contributors_by_month.map(&:count).reverse}] \
          })

    .table.mb-large
      table
        thead
          tr
            th Month
            th Contributor sign ups
        tbody
          - created_contributors_by_month.each do |entry|
            tr
              td = entry.formatted_month
              td = entry.count
