h1.pb-xsmall Email notifications

p Subscribe to email notifications about this photograph.

.panel.bg-white.mt-medium.p-medium
  form.story-form action="/photographs/#{photograph.slq_identifier}/notification-subscriptions" method="post"
    == csrf_tag

    fieldset.mb-small
      p.mb-small.form-label Email notifications

      - if errors[:photograph_or_locality]
        .mb-small
          .form-error Please subscribe to either the photograph or its places

      .notifications-checkbox
        input#photograph_notifications.mb-small.story-form__checkbox type="checkbox" name="photograph_notification_subscription[photograph_notifications]"
        label.story-form__checkbox-label for="photograph_notifications" Notify me when other people add stories to this photograph

      - if notification_localities.any?
        .notifications-checkbox
          input#locality_notifications.mb-small.story-form__checkbox type="checkbox" name="photograph_notification_subscription[locality_notifications]"
          label.story-form__checkbox-label for="locality_notifications" Send me weekly updates about photographs in #{to_sentence(notification_localities.map(&:name))}

    p
      button.button type="submit" Subscribe

== render :contributor_account_links
