.story-form .file-loading {
  background-image: url(loading.gif);
  background-repeat: no-repeat;
  background-size: 80px 20px;
  background-position: 10px center;
  width: 100%;
  padding-left: 100px;
}
.upload-error {
  color: #f00;
}
.story-form .uploaded-images img {
  display: block;
  margin-bottom: 1rem;
}
.story-form .uploaded-image-name {
  margin-bottom: 1rem;
}
.story-form .uploaded-image-container {
  margin-bottom: 3rem;
}
.story-form .error-display {
  background-color: var(--color-red);
  color: var(--color-white);
  padding: 1rem;
  margin-bottom: 1rem;
  display: none;
}
.story-form .remove-button {
  color: var(--color-red);
  font-weight: 700;
  display: block;
  padding-top: 0.6rem;
}
.story-form__checkbox-label {
  margin-left: 1rem;
}
