hr

p
  strong #{story.contributor.full_name} wrote on photograph #{story.photograph.slq_identifier}:

p = story.body

p Published: #{story.published}

p Images attached: #{story.contributor_images.count}

- story.contributor_images.each do |image|
  p
    img src=("#{image_host}/#{image.path}") width="400"

p <a href=#{admin_url}>View, edit or unpublish this story</a>

