Hello <%= user.name %>,

A Corley Collection account has been created for you.

You must activate your account before you can sign in; please do so by visiting this URL: <%= account_activation_url %>.
