p Hello #{user.name},

p A Corley Collection account has been created for you.

p
  ' You must activate your account before you can sign in; please do so by following
  a href=account_activation_url this link
  ' .
