p #{stories.count} new stories were contributed to the Corley Collection in the last 24 hours.

p Please review these stories and unpublish any that are inappropriate.

p You can sign in to the Corley Collection admin <a href=#{canonical_url}/admin>here</a>.

- stories.each do |story|
  == render :story, story: story, admin_url: "#{canonical_url}/admin/stories/#{story.id}/edit", image_host: image_host
