<%= stories.count %> new stories were contributed to the Corley Collection in the last 24 hours.

Please review these stories and unpublish any that are inappropriate.

You can sign in to the Corley Collection admin here: <%= "#{canonical_url}/admin" %>
