a.button.button--xsmall.button--primary.mr-small.fl-right href="/admin/photographs/new"
  | Add a photograph

a.button.button--xsmall.fl-right data-view-confirm-action=JSON.generate(action: "/admin/photographs/export", method: "post")
  | Export CSV
