tr id="photograph-#{photograph.id}" data-view-row-link=JSON.generate(href: "/admin/photographs/#{photograph.id}/edit")
  td
    a href="/admin/photographs/#{photograph.id}/edit" = photograph.slq_identifier
  td.t-right width="150"
    == render :edit_button, path: "/admin/photographs/#{photograph.id}/edit", title: "Edit"
