p.link-children
  a> href="/admin/photographs" Photographs
  span.c-grey-mid
    ' /
h1.h-1
  = "Editing ‘#{photograph.slq_identifier}’"
  == render :delete_button, path: "/admin/photographs/#{photograph.id}", confirmation: "Are you sure you want to delete this photograph? This will also delete its associated data"
.panel
  .panel__primary.fb-order-2--tablet.fb-order-2--phone
    form action="/admin/photographs/#{photograph.id}" method="post"
      == csrf_tag
      input type="hidden" name="_method" value="put"
      fieldset
        legend.hide-visually Edit photograph
        == form.formalist_ast
      p
        button.button.button--primary type="submit" Save changes

  == render :help, template: "help/photographs"
