== render :actions

h1.h-1 Photographs

.panel
  .panel__primary.fb-order-2--tablet.fb-order-2--phone
    == render :search_form
    - if photographs.any?
      .table.link-children.mb-large
        table
          thead
            tr
              th SLQ Identifier
              th.t-right Actions
          tbody
            - photographs.each do |photograph|
              == render :index_row, photograph: photograph

        == photographs.pagination

    - else
      - if search_query.present?
        p No results for ‘#{search_query}’
      - else
        p No photographs yet

  == render :help, template: "help/photographs"
