h1.h-1 Create photograph

.panel
  .panel__primary.fb-order-2--tablet.fb-order-2--phone
    form action="/admin/photographs" method="post"
      == csrf_tag
      == form.formalist_ast
      p
        button.button.button--primary type="submit" Create photograph

  == render :help, template: "help/photographs"
