tr id="contributor-image-#{contributor_image.id}" data-view-row-link=JSON.generate(href: "/admin/contributor-images/#{contributor_image.id}/edit")
  td
    a href="/admin/contributor-images/#{contributor_image.id}/edit" = contributor_image.id
  td
    = contributor_image.contributor.full_name
  td
    = contributor_image.display_created_at
  td
    = contributor_image.published
  td
    img src=contributor_image.thumbnail_url
  td.t-right width="150"
    == render :edit_button, path: "/admin/contributor-images/#{contributor_image.id}/edit", title: "Edit"

