p.link-children
  a> href="/admin/contributor-images" Contributor images
  span.c-grey-mid
    ' /
h1.h-1
  = "Editing ‘#{contributor_image.id}’"
  == render :delete_button, path: "/admin/contributor-images/#{contributor_image.id}", confirmation: "Are you sure you want to delete this contributor image? You can mark it unpublished to hide it from public display"
.panel
  .panel__primary
    form action="/admin/contributor-images/#{contributor_image.id}" method="post"
      == csrf_tag
      input type="hidden" name="_method" value="put"
      fieldset
        legend.hide-visually Edit contributor image
        == form.formalist_ast
      p.mb-large
        button.button.button--primary type="submit" Save changes
      p
        a.link href="/admin/stories/#{contributor_image.story_id}/edit" Go to story

  == render :help, template: "help/contributor_images"

.panel.panel--flush
  .panel__primary
    == render :contributor_image, contributor_image: contributor_image

