== render :actions

h1.h-1 Contributor images

.panel
  .panel__primary.fb-order-2--tablet.fb-order-2--phone
    - if contributor_images.any?
      .table.link-children.mb-large
        table
          thead
            tr
              th ID
              th Contributor
              th Created at
              th Published?
              th Preview
              th.t-right Actions
          tbody
            - contributor_images.each do |contributor_image|
              == render :index_row, contributor_image: contributor_image

        == contributor_images.pagination

    - else
      p No contributor images yet

  == render :help, template: "help/contributor_images"
