.admin-charts__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}
.admin-charts__item {
  flex: 1 0 25%;
  box-sizing: border-box;
  margin-bottom: 3rem;
  margin-right: 3rem;
  border: 1px solid var(--colorGreyLight);
  border-radius: var(--borderRadiusMedium);
  padding: var(--spacingLarge);
}
