/* TODO: Move this into Roneo */
/* Butt up against preceding panel */
.panel--flush,
.breakpoint-phone .panel--flush {
  margin-top: -2.8rem;
}

.panel__left {
  margin-right: var(--spacingMedium);
}
.panel__right {
  margin-left: var(--spacingMedium);
}
.breakpoint-tablet .panel__left,
.breakpoint-tablet .panel__right,
.breakpoint-phone .panel__left,
.breakpoint-phone .right {
  margin-left: 0;
  margin-right: 0;
}

/* Busy states for forms */

.form--busy button[type="submit"] {
  cursor: progress;
  opacity: 0.5;
}

.form-busy-message {
  opacity: 0;
  transition: opacity 150ms;
}

.form--busy .form-busy-message {
  opacity: 1;
}

.nav-list__link--child {
  position: relative;
  margin-left: 1.6rem;
}
.nav-list__link--child:before {
  content: "";
  display: block;
  position: absolute;
  left: -1.6rem;
  width: 1rem;
  height: 1px;
  background-color: #aaa;
  top: 0.7em;
}

.label--caution {
  background-color: #f0ad4e;
}

.bgc-advisory {
  background-color: #fafad2;
}
