tr id="tag-#{tag.id}" data-view-row-link=JSON.generate(href: "/admin/tags/#{tag.id}/edit")
  td
    a href="/admin/tags/#{tag.id}/edit" = tag.name
  td
    = tag.type
  td
    = tag.source
  td.t-right width="150"
    == render :edit_button, path: "/admin/tags/#{tag.id}/edit", title: "Edit"
