== render :actions

h1.h-1 Contributor tags

.tabs
  a.tab href="/admin/tags"
    | All tags (#{total_tag_count})
  a.tab class="tab--active" href="/admin/tags/contributor"
    | Contributor (#{contributor_tag_count})

.panel
  .panel__primary.fb-order-2--tablet.fb-order-2--phone
    - if tags.any?
      .table.link-children.mb-large
        table
          thead
            tr
              th Name
              th Type
              th Source
              th.t-right Actions
          tbody
            - tags.each do |tag|
              == render :index_row, tag: tag
        == tags.pagination
    - else
      p No tags yet

  == render :help, template: "help/tags"
