== render :actions

p.link-children
  a> href="/admin/tags" Tags
  span.c-grey-mid
    ' /
h1.h-1
  = "Editing ‘#{tag.name}’"
  == render :delete_button, path: "/admin/tags/#{tag.id}", confirmation: "Are you sure you want to delete this tag?"
.panel
  .panel__primary.fb-order-2--tablet.fb-order-2--phone
    form action="/admin/tags/#{tag.id}" method="post"
      == csrf_tag
      input type="hidden" name="_method" value="put"
      fieldset
        legend.hide-visually Edit tag
        == form.formalist_ast
      p
        button.button.button--primary type="submit" Save changes

  == render :help, template: "help/tags"
