h1.h-1 Create tag

.panel
  .panel__primary
    form action="/admin/tags" method="post"
      == csrf_tag
      == form.formalist_ast
      p
        button.button.button--primary type="submit" Create tag
