tr id="contributor-#{contributor.id}" data-view-row-link=JSON.generate(href: "/admin/contributors/#{contributor.id}/edit")
  td
    a href="/admin/contributors/#{contributor.id}/edit" = contributor.email
  td
    = contributor.first_name
  td
    = contributor.last_name
  td
    = contributor.display_created_at
  td
    = contributor.stories.count
  td
    = contributor.suspended
  td.t-right width="150"
    == render :edit_button, path: "/admin/contributors/#{contributor.id}/edit", title: "Edit"
