p.link-children
  a> href="/admin/contributors" Contributors
  span.c-grey-mid
    ' /
h1.h-1
  = "Editing ‘#{contributor.email}’"
  == render :delete_button, path: "/admin/contributors/#{contributor.id}", confirmation: "Are you sure you want to delete this contributor? You can suspend them to prevent them from submitting stories. Deleted contributors can sign up again with the same email. This will delete their stories and images."
.panel
  .panel__primary.fb-order-2--tablet.fb-order-2--phone
    form action="/admin/contributors/#{contributor.id}" method="post"
      == csrf_tag
      input type="hidden" name="_method" value="put"
      fieldset
        legend.hide-visually Edit contributor
        == form.formalist_ast
      p
        button.button.button--primary type="submit" Save changes

  == render :help, template: "help/contributors"
