h1.h-1 Contributors

.panel
  .panel__primary.fb-order-2--tablet.fb-order-2--phone
    - if contributors.any?
      .table.link-children.mb-large
        table
          thead
            tr
              th Email
              th First name
              th Last name
              th Created at
              th Story count
              th Suspended
              th.t-right Actions
          tbody
            - contributors.each do |contributor|
              == render :index_row, contributor: contributor

        == contributors.pagination

    - else
      p No contributors yet

  == render :help, template: "help/contributors"
