h1.pb-xsmall Email notifications

p Subscribe to email notifications for #{locality.name}.

.panel.bg-white.mt-medium.p-medium
  form.story-form action="/localities/#{locality.id}/notification-subscriptions" method="post"
    == csrf_tag

    fieldset.mb-small
      p.mb-small.form-label Email notifications

      - if errors[:locality_notifications]
        .mb-small
          .form-error Please tick the checkbox to subscribe

      .notifications-checkbox
        input#locality_notifications.mb-small.story-form__checkbox type="checkbox" name="locality_notification_subscription[locality_notifications]"
        label.story-form__checkbox-label for="locality_notifications" Send me weekly updates about #{locality.name}

    p
      button.button type="submit" Subscribe

== render :contributor_account_links
