/* Explicitly hide out of date page content while loading with Turbolinks */
.page--inactive {
  display: none;
}

/* Try to avoid timing problems with transition/animations */
* {
  transition-delay: 0ms !important;
  transition-duration: 0ms !important;
  animation-delay: 0ms !important;
  animation-duration: 0ms !important;
}
