doctype html
html lang="en"
  head
    meta charset="utf-8"
    == render :breakpoints
    meta name="turbolinks-cache-control" content="no-cache"
    / Inlined JS
    script
      == assets.read("admin__inline-header.js")
    / CSS
    link rel="stylesheet" type="text/css" href=assets["admin__admin.css"]
    / JS
    / Polyfills should only load in RACK_ENV=test
    - if ENV["RACK_ENV"] == "test"
      link rel="stylesheet" type="text/css" href=assets["admin__test-polyfills.css"]
    script type="text/javascript" src=assets["admin__admin.js"] defer=true
    title Corley Collection — Admin
    == csrf_metatag
  body data-view-fast-click=true data-view-disable-input-zoom=true
    == render :flash_messages if flash?
    - if current_user
      == render :nav
      == render :header
    .page.nav-aware role="main"
      .page__contents
        == yield
    button.page-overlay.nav-aware.hide-widescreen data-view-toggle-class=JSON.generate({ \
      event: "click", \
      targetSelector: ".nav-aware", \
      targetToggleClassName: "nav-open", \
      triggerToggleClassName: "nav-toggle--nav-open" })
        span.hide-visually Toggle nav

    / Inlined JS
    script
      == assets.read("admin__inline-footer.js")
