p.link-children
  ' Dashboard
  span.c-grey-mid
    ' /

.panel
  .panel__primary
    .copy
      h1.h-1 Introduction to the Corley Collection application

      p
        ' The Corley Collection application is composed of two parts, the
        a href="https://explorer.corley.slq.qld.gov.au" target="_blank"
          | Explorer
        |  and the Corley API.

      p The Explorer was developed by Geoff Hinchcliffe and Mitchell Whitelaw from the ANU. The API was developed by <a href="https://www.icelab.com.au">Icelab</a>.

      p The Explorer uses the API as its source for photographs, spools, tags and stories.

      p When contributors tag or geo locate a photograph, the Explorer communicates that update to the API.

      p Contributor stories and images are submitted directly to the API via an iframe within the Explorer site, a process which is transparent to the contributor.

      h2.h-2 Content structure

      p The Corley collection is comprised of <a href="/admin/photographs">photographs</a>, <a href="/admin/spools">spools</a>, localities, <a href="/admin/tags">tags</a>, <a href="/admin/stories">stories</a> and <a href="/admin/contributor-images">contributor images</a>.

      p
        ' You can find help for each content type using the
        strong Help
        |  button on the relevant page.

      h2.h-2 Content exports

      p
        ' Photographs, stories and contributor images can be exported to CSV files using the
        strong Export CSV
        |  buttons on their index pages.

      h2.h-2 Content delivery network

      p To keep response times short, a CDN (content delivery network) fronts the API, meaning that when a photograph is updated, the CDN needs to be cleared of that photograph's content in order for the Explorer to show the updated information. This process happens automatically. However, you might need to open a new private browser window to defeat your local browser cache. If you do not see updated content after a few minutes, please raise a support request with Icelab.

      h2.h-2 Analytics

      p In addition to Google analytics for the Explorer site, you can also explore real-time analytics for <a href="/admin/analytics/photographs">photographs</a>, <a href="/admin/analytics/contributors">contributors</a> and <a href="/admin/analytics/stories">stories</a> here.

      h2.h-2 Admin notifications

      p
        ' A daily notification for new stories is sent to
        strong corley@slq.qld.gov.au
        | .
