h1.h-1
  = "Edit account"

.panel
  .panel__primary
    form action="/admin/user/edit" method="post"
      == csrf_tag
      input type="hidden" name="_method" value="put"
      fieldset
        legend.hide-visually Edit account
        == form.formalist_ast
      p
        button.button.button--primary type="submit" Save changes
