.help-button {
  position: absolute;
  right: var(--spacingXLarge);
  top: -1em;
}

.breakpoint-tablet-wide .help-button,
.breakpoint-tablet .help-button {
  top: -1.1em;
}
.breakpoint-phone .help-button {
  right: var(--spacingLarge);
  top: -1.3em;
}

.help {
  padding-left: var(--spacingLarge);
  border-left: 1px solid var(--colorGreyLight);
}

.breakpoint-tablet .help,
.breakpoint-phone .help {
  padding-left: 0;
  border-left: 0;
  border-bottom: 1px solid var(--colorGreyLight);
  padding-bottom: var(--spacingLarge);
}

.help .field-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.help.copy > *,
.help.copy > blockquote > *,
.help.copy section > *,
.help.copy section > blockquote > * {
  margin-bottom: 1.5rem;
}

.help-button {
  border: 1px solid color(#fffeb0 shade(10%));
  background-color: #fffeb0;
  color: var(--colorGreyDark);
}
.help-button:hover,
.help-button:focus {
  background-color: color(#fffeb0 shade(5%));
  border-color: color(#fffeb0 shade(20%));
}
