h1.pb-xsmall Add your story
p Tell us about photograph <strong>#{photograph.slq_identifier}</strong>. Your story will be published for other visitors to see.
.panel.bg-white.mt-medium.p-medium
  form.story-form action="/photographs/#{photograph.slq_identifier}/stories" method="post" data-view-story-form=JSON.generate(presign_url: "/contributor-images/presign", token: csrf_token)
    == csrf_tag

    .error-display

    fieldset.mb-small
      label.form-label.mb-xsmall class=("form-label--error" if errors[:body]) for="story-body" Your story
      textarea.form-input.story-body rows="10" class=("form-input--error" if errors[:body]) name="story[body]" id="story-body" placeholder="Tell us about this photograph" value=input[:body]
      - if errors[:body]
        .form-error= errors[:body].join(", ")

    fieldset.mb-small.image-uploads
      label.form-label.mb-xsmall for="image-upload-1" Attach images
      input.form-input.file-input type="file" accept="image/png, image/jpeg" multiple=true
      .form__file-input.file-loading style="display: none;"  Uploading &hellip;
      .form__input-error.upload-error.mb-small.pt-xsmall style="display: none;"
        | There was a problem uploading your file. Upload only <strong>jpg</strong> or <strong>png</strong> files. Please try again.
      .field-info.pt-xsmall
        span.form__helper Attach images to your story by choosing files above. Add a caption to each.

    fieldset.mb-small.uploaded-images

    fieldset.mb-small
      p.mb-small.form-label Email notifications

      .notifications-checkbox
        input#photograph_notifications.mb-small.story-form__checkbox type="checkbox" name="story[photograph_notifications]"
        label.story-form__checkbox-label for="photograph_notifications" Notify me when other people add stories to this photograph

      - if notification_localities.any?
        .notifications-checkbox
          input#locality_notifications.mb-small.story-form__checkbox type="checkbox" name="story[locality_notifications]"
          label.story-form__checkbox-label for="locality_notifications" Send me weekly updates about photographs in #{to_sentence(notification_localities.map(&:name))}

    p.pb-small Please note that all stories are subject to our <a href="https://www.slq.qld.gov.au/sites/default/files/0008-229688-comments-policy-2017-web-copy_0.pdf" target="_blank">Comments Policy</a>.

    p
      button.button type="submit" Submit

== render :contributor_account_links
