h1.h-1 Photograph analytics

.panel
  .panel__primary
    h2.h-smallcaps.mb-small Tagged photographs by month
    p.mb-small #{tagged_photographs_count} tagged of #{total_photographs_count} total (#{percentage_tagged}%)
    p.mb-small #{total_taggings_count} total taggings across #{tagged_photographs_count} photographs

    .admin-charts__wrapper
      .admin-charts__item
        canvas data-view-bar-chart=JSON.generate({ \
            labels: tagged_photographs_by_month.map(&:formatted_month).reverse, \
            datasets: [{label: "Photographs tagged", backgroundColor: "rgba(115,171,242,0.4)", data: tagged_photographs_by_month.map(&:count).reverse}] \
          })

    .table.mb-large
      table
        thead
          tr
            th Month
            th Tagged in month
        tbody
          - tagged_photographs_by_month.each do |entry|
            tr
              td = entry.formatted_month
              td = entry.count

.panel
  .panel__primary
    h2.h-smallcaps.mb-small Geolocated photographs by month
    p.mb-small #{geo_located_photographs_count} geolocated of #{total_photographs_count} total (#{percentage_geo_located}%)

    .admin-charts__wrapper
      .admin-charts__item
        canvas data-view-bar-chart=JSON.generate({ \
            labels: geo_located_photographs_by_month.map(&:formatted_month).reverse, \
            datasets: [{label: "Photographs geolocated", backgroundColor: "rgba(115,171,242,0.4)", data: geo_located_photographs_by_month.map(&:count).reverse}] \
          })

    .table.mb-large
      table
        thead
          tr
            th Month
            th Geolocated in month
        tbody
          - geo_located_photographs_by_month.each do |entry|
            tr
              td = entry.formatted_month
              td = entry.count

.panel
  .panel__primary
    h2.h-smallcaps.mb-small Storied photographs by month
    p.mb-small #{storied_photographs_count} storied of #{total_photographs_count} total (#{percentage_storied}%)

    .admin-charts__wrapper
      .admin-charts__item
        canvas data-view-bar-chart=JSON.generate({ \
            labels: storied_photographs_by_month.map(&:formatted_month).reverse, \
            datasets: [{label: "Photographs storied", backgroundColor: "rgba(115,171,242,0.4)", data: storied_photographs_by_month.map(&:count).reverse}] \
          })

    .table.mb-large
      table
        thead
          tr
            th Month
            th Storied in month
        tbody
          - storied_photographs_by_month.each do |entry|
            tr
              td = entry.formatted_month
              td = entry.count
