tr id="spool-#{spool.id}" data-view-row-link=JSON.generate(href: "/admin/spools/#{spool.id}/edit")
  td
    a href="/admin/spools/#{spool.id}/edit" = spool.slq_identifier
  td.t-right width="150"
    == render :edit_button, path: "/admin/spools/#{spool.id}/edit", title: "Edit"
