p.link-children
  a> href="/admin/spools" Spools
  span.c-grey-mid
    ' /
h1.h-1
  = "Editing ‘#{spool.slq_identifier}’"
  == render :delete_button, path: "/admin/spools/#{spool.id}", confirmation: "Are you sure you want to delete this spool?"
.panel
  .panel__primary.fb-order-2--tablet.fb-order-2--phone
    form action="/admin/spools/#{spool.id}" method="post"
      == csrf_tag
      input type="hidden" name="_method" value="put"
      fieldset
        legend.hide-visually Edit spool
        == form.formalist_ast
      p
        button.button.button--primary type="submit" Save changes

  == render :help, template: "help/spools"
