== render :actions

h1.h-1 Spools

.panel
  .panel__primary.fb-order-2--tablet.fb-order-2--phone
    - if spools.any?
      .table.link-children.mb-large
        table
          thead
            tr
              th SLQ Identifier
              th.t-right Actions
          tbody
            - spools.each do |spool|
              == render :index_row, spool: spool

        == spools.pagination

    - else
      p No spools yet

  == render :help, template: "help/spools"
