h1.h-1 Create spool

.panel
  .panel__primary.fb-order-2--tablet.fb-order-2--phone
    form action="/admin/spools" method="post"
      == csrf_tag
      == form.formalist_ast
      p
        button.button.button--primary type="submit" Create spool

  == render :help, template: "help/spools"
