/*
 * Colors
 */

.bg-white {
  background-color: var(--color-white);
}

.c-white {
  color: var(--color-white);
}

.c-red {
  color: var(--color-red);
}

.bg-warning {
  background-color: var(--color-red);
}

.bg-notice {
  background-color: var(--color-green);
}
