:root {
  --spacingXSmall: 1rem;
  --spacingSmall: 2rem;
  --spacingMedium: 3rem;
  --spacingLarge: 4rem;
  --spacingXLarge: 6rem;
}

/*
 * Margin
 */

.flush {
  margin: 0;
  padding: 0;
}

.m-xsmall {
  margin: var(--spacingXSmall);
}

.m-small {
  margin: var(--spacingSmall);
}

.m-medium {
  margin: var(--spacingMedium);
}

.m-large {
  margin: var(--spacingLarge);
}
.breakpoint-tablet .m-large,
.breakpoint-phone .m-large,
.breakpoint-phone-small .m-large {
  margin: var(--spacingMedium);
}

.m-xlarge {
  margin: var(--spacingXLarge);
}
.breakpoint-tablet .m-xlarge,
.breakpoint-phone .m-xlarge,
.breakpoint-phone-small .m-xlarge {
  margin: var(--spacingMedium);
}

.mt-flush {
  margin-top: 0;
}

.mt-xsmall {
  margin-top: var(--spacingXSmall);
}

.mt-small {
  margin-top: var(--spacingSmall);
}

.mt-medium {
  margin-top: var(--spacingMedium);
}

.mt-large {
  margin-top: var(--spacingLarge);
}
.breakpoint-tablet .mt-large,
.breakpoint-phone .mt-large,
.breakpoint-phone-small .mt-large {
  margin-top: var(--spacingMedium);
}

.mt-xlarge {
  margin-top: var(--spacingXLarge);
}
.breakpoint-tablet .mt-xlarge,
.breakpoint-phone .mt-xlarge,
.breakpoint-phone-small .mt-xlarge {
  margin-top: var(--spacingMedium);
}

.mr-flush {
  margin-right: 0;
}

.mr-xsmall {
  margin-right: var(--spacingXSmall);
}

.mr-small {
  margin-right: var(--spacingSmall);
}

.mr-medium {
  margin-right: var(--spacingMedium);
}

.mr-large {
  margin-right: var(--spacingLarge);
}
.breakpoint-tablet .mr-large,
.breakpoint-phone .mr-large,
.breakpoint-phone-small .mr-large {
  margin-right: var(--spacingMedium);
}

.mr-xlarge {
  margin-right: var(--spacingXLarge);
}
.breakpoint-tablet .mr-xlarge,
.breakpoint-phone .mr-xlarge,
.breakpoint-phone-small .mr-xlarge {
  margin-right: var(--spacingMedium);
}

.mb-flush {
  margin-bottom: 0;
}

.mb-xsmall {
  margin-bottom: var(--spacingXSmall);
}

.mb-small {
  margin-bottom: var(--spacingSmall);
}

.mb-medium {
  margin-bottom: var(--spacingMedium);
}

.mb-large {
  margin-bottom: var(--spacingLarge);
}
.breakpoint-tablet .mb-large,
.breakpoint-phone .mb-large,
.breakpoint-phone-small .mb-large {
  margin-bottom: var(--spacingMedium);
}

.mb-xlarge {
  margin-bottom: var(--spacingXLarge);
}
.breakpoint-tablet .mb-xlarge,
.breakpoint-phone .mb-xlarge,
.breakpoint-phone-small .mb-xlarge {
  margin-bottom: var(--spacingMedium);
}

.ml-flush {
  margin-left: 0;
}

.ml-xsmall {
  margin-left: var(--spacingXSmall);
}

.ml-small {
  margin-left: var(--spacingSmall);
}

.ml-medium {
  margin-left: var(--spacingMedium);
}

.ml-large {
  margin-left: var(--spacingLarge);
}
.breakpoint-tablet .ml-large,
.breakpoint-phone .ml-large,
.breakpoint-phone-small .ml-large {
  margin-left: var(--spacingMedium);
}

.ml-xlarge {
  margin-left: var(--spacingXLarge);
}
.breakpoint-tablet .ml-xlarge,
.breakpoint-phone .ml-xlarge,
.breakpoint-phone-small .ml-xlarge {
  margin-left: var(--spacingMedium);
}

.my-flush {
  margin-top: 0;
  margin-bottom: 0;
}

.my-xsmall {
  margin-top: var(--spacingXSmall);
  margin-bottom: var(--spacingXSmall);
}

.my-small {
  margin-top: var(--spacingSmall);
  margin-bottom: var(--spacingSmall);
}

.my-medium {
  margin-top: var(--spacingMedium);
  margin-bottom: var(--spacingMedium);
}

.my-large {
  margin-top: var(--spacingLarge);
  margin-bottom: var(--spacingLarge);
}
.breakpoint-tablet .my-large,
.breakpoint-phone .my-large,
.breakpoint-phone-small .my-large {
  margin-top: var(--spacingMedium);
  margin-bottom: var(--spacingMedium);
}

.my-xlarge {
  margin-top: var(--spacingXLarge);
  margin-bottom: var(--spacingXLarge);
}
.breakpoint-tablet .my-xlarge,
.breakpoint-phone .my-xlarge,
.breakpoint-phone-small .my-xlarge {
  margin-top: var(--spacingMedium);
  margin-bottom: var(--spacingMedium);
}

.mx-xsmall {
  margin-left: var(--spacingXSmall);
  margin-right: var(--spacingXSmall);
}

.mx-flush {
  margin-left: 0;
  margin-right: 0;
}

.mx-small {
  margin-left: var(--spacingSmall);
  margin-right: var(--spacingSmall);
}

.mx-medium {
  margin-left: var(--spacingMedium);
  margin-right: var(--spacingMedium);
}

.mx-large {
  margin-left: var(--spacingLarge);
  margin-right: var(--spacingLarge);
}
.breakpoint-tablet .mx-large,
.breakpoint-phone .mx-large,
.breakpoint-phone-small .mx-large {
  margin-left: var(--spacingMedium);
  margin-right: var(--spacingMedium);
}

.mx-xlarge {
  margin-left: var(--spacingXLarge);
  margin-right: var(--spacingXLarge);
}
.breakpoint-tablet .mx-xlarge,
.breakpoint-phone .mx-xlarge,
.breakpoint-phone-small .mx-xlarge {
  margin-left: var(--spacingMedium);
  margin-right: var(--spacingMedium);
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/*
 * Padding
 */

.p-xsmall {
  padding: var(--spacingXSmall);
}

.p-small {
  padding: var(--spacingSmall);
}

.p-medium {
  padding: var(--spacingMedium);
}

.p-large {
  padding: var(--spacingLarge);
}
.breakpoint-tablet .p-large,
.breakpoint-phone .p-large,
.breakpoint-phone-small .p-large {
  padding: var(--spacingMedium);
}

.p-xlarge {
  padding: var(--spacingXLarge);
}
.breakpoint-tablet .p-xlarge,
.breakpoint-phone .p-xlarge,
.breakpoint-phone-small .p-xlarge {
  padding: var(--spacingMedium);
}

.pt-xsmall {
  padding-top: var(--spacingXSmall);
}

.pt-flush {
  padding-top: 0;
}

.pt-small {
  padding-top: var(--spacingSmall);
}

.pt-medium {
  padding-top: var(--spacingMedium);
}

.pt-large {
  padding-top: var(--spacingLarge);
}
.breakpoint-tablet .pt-large,
.breakpoint-phone .pt-large,
.breakpoint-phone-small .pt-large {
  padding-top: var(--spacingMedium);
}

.pt-xlarge {
  padding-top: var(--spacingXLarge);
}
.breakpoint-tablet .pt-xlarge,
.breakpoint-phone .pt-xlarge,
.breakpoint-phone-small .pt-xlarge {
  padding-top: var(--spacingMedium);
}

.pr-flush {
  padding-right: 0;
}

.pr-xsmall {
  padding-right: var(--spacingXSmall);
}

.pr-small {
  padding-right: var(--spacingSmall);
}

.pr-medium {
  padding-right: var(--spacingMedium);
}

.pr-large {
  padding-right: var(--spacingLarge);
}
.breakpoint-tablet .pr-large,
.breakpoint-phone .pr-large,
.breakpoint-phone-small .pr-large {
  padding-right: var(--spacingMedium);
}

.pr-xlarge {
  padding-right: var(--spacingXLarge);
}
.breakpoint-tablet .pr-xlarge,
.breakpoint-phone .pr-xlarge,
.breakpoint-phone-small .pr-xlarge {
  padding-right: var(--spacingMedium);
}

.pb-flush {
  padding-bottom: 0;
}

.pb-xsmall {
  padding-bottom: var(--spacingXSmall);
}

.pb-small {
  padding-bottom: var(--spacingSmall);
}

.pb-medium {
  padding-bottom: var(--spacingMedium);
}

.pb-large {
  padding-bottom: var(--spacingLarge);
}
.breakpoint-tablet .pb-large,
.breakpoint-phone .pb-large,
.breakpoint-phone-small .pb-large {
  padding-bottom: var(--spacingMedium);
}

.pb-xlarge {
  padding-bottom: var(--spacingXLarge);
}
.breakpoint-tablet .pb-xlarge,
.breakpoint-phone .pb-xlarge,
.breakpoint-phone-small .pb-xlarge {
  padding-bottom: var(--spacingMedium);
}

.pl-flush {
  padding-left: 0;
}

.pl-xsmall {
  padding-left: var(--spacingXSmall);
}

.pl-small {
  padding-left: var(--spacingSmall);
}

.pl-medium {
  padding-left: var(--spacingMedium);
}

.pl-large {
  padding-left: var(--spacingLarge);
}
.breakpoint-tablet .pl-large,
.breakpoint-phone .pl-large,
.breakpoint-phone-small .pl-large {
  padding-left: var(--spacingMedium);
}

.pl-xlarge {
  padding-left: var(--spacingXLarge);
}
.breakpoint-tablet .pl-xlarge,
.breakpoint-phone .pl-xlarge,
.breakpoint-phone-small .pl-xlarge {
  padding-left: var(--spacingMedium);
}

.py-flush {
  padding-top: 0;
  padding-bottom: 0;
}

.py-xsmall {
  padding-top: var(--spacingXSmall);
  padding-bottom: var(--spacingXSmall);
}

.py-small {
  padding-top: var(--spacingSmall);
  padding-bottom: var(--spacingSmall);
}

.py-medium {
  padding-top: var(--spacingMedium);
  padding-bottom: var(--spacingMedium);
}

.py-large {
  padding-top: var(--spacingLarge);
  padding-bottom: var(--spacingLarge);
}
.breakpoint-tablet .py-large,
.breakpoint-phone .py-large,
.breakpoint-phone-small .py-large {
  padding-top: var(--spacingMedium);
  padding-bottom: var(--spacingMedium);
}

.py-xlarge {
  padding-top: var(--spacingXLarge);
  padding-bottom: var(--spacingXLarge);
}
.breakpoint-tablet .py-xlarge,
.breakpoint-phone .py-xlarge,
.breakpoint-phone-small .py-xlarge {
  padding-top: var(--spacingMedium);
  padding-bottom: var(--spacingMedium);
}

.px-flush {
  padding-left: 0;
  padding-right: 0;
}

.px-xsmall {
  padding-left: var(--spacingXSmall);
  padding-right: var(--spacingXSmall);
}

.px-small {
  padding-left: var(--spacingSmall);
  padding-right: var(--spacingSmall);
}

.px-medium {
  padding-left: var(--spacingMedium);
  padding-right: var(--spacingMedium);
}

.px-large {
  padding-left: var(--spacingLarge);
  padding-right: var(--spacingLarge);
}
.breakpoint-tablet .px-large,
.breakpoint-phone .px-large,
.breakpoint-phone-small .px-large {
  padding-left: var(--spacingMedium);
  padding-right: var(--spacingMedium);
}

.px-xlarge {
  padding-left: var(--spacingXLarge);
  padding-right: var(--spacingXLarge);
}
.breakpoint-tablet .px-xlarge,
.breakpoint-phone .px-xlarge,
.breakpoint-phone-small .px-xlarge {
  padding-left: var(--spacingMedium);
  padding-right: var(--spacingMedium);
}

/*
 * Alignment
 */

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-inline {
  display: inline;
}

/**
 * Clearfix
 */

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
