/* Buttons */

.button {
  background-color: var(--color-orange);
  border: none;
  cursor: pointer;
  color: var(--color-white);
  display: inline-block;
  font-weight: 700;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  text-decoration: underline;
  text-align: center;
  transition-property: background-color, border-color, color;
  transition-duration: 100ms;
}
@media screen and (max-width: 500px) {
  .button {
    font-size: 1.5rem;
  }
}
.button:hover,
.button:focus {
  background-color: var(--color-black);
}
