- if form.errors.any?
  .error-messages.mb-medium.bgc-warning.br-small.p-medium
    .error-messages__heading.mb-small
      | Some errors occurred when trying to submit this form
    ul.error-messages__list.ml-small.pl-small
      - form.errors.each do |attribute, messages|
        li.error_messages__list-item
          - if messages.is_a?(Array)
            | #{attribute}: #{messages.join(", ")}
          - elsif messages.is_a?(Hash)
            | #{attribute}: is invalid
