button.help-button.button.button--xsmall data-view-toggle-class=JSON.generate({ \
  event: "click", \
  targetSelector: ".help", \
  targetToggleClassName: "hide-all", \
  triggerToggleClassName: "help-button--active" })
  ' Help
.help.panel__secondary.fb-order-1--tablet.fb-order-1--phone.copy.hide-all
  == render(template)
