- unless pager.single_page?
  nav.pagination.c-grey-mid.t-small.mt-xlarge.link-children.link-children--no-decoration
    .fl-right.py-small.pr-xlarge
      span.phone-hide Page
      select.input-select.mx-xsmall> data-view-select-change-url=true
        - pager.all_page_numbers.each do |page_number|
          option value=pager.url_for_page(page_number) selected=(pager.current_page == page_number) = page_number
      ' of #{pager.total_pages}
    - unless pager.last_page?
      a.pagination__next.d-inlineblock.px-medium.py-small.fl-right href=pager.url_for_page(pager.next_page) rel="next"
        ' Next
        span.f-fallthrough →
    - unless pager.first_page?
      a.pagination__prev.d-inlineblock.px-medium.py-small.fl-right href=pager.url_for_page(pager.prev_page) rel="prev"
        span.f-fallthrough ←
        ' Prev
    - if pager.prev_gap?
      span.pagination__page.d-inlineblock.px-medium.py-small
        ' …
    - pager.each_entry do |page|
      a.pagination__page.d-inlineblock.px-small.py-xsmall class=("bgc-blue-hint br-small" if page.current?) href=pager.url_for_page(page)
        = page.number
    - if pager.next_gap?
      span.pagination__page.d-inlineblock.px-medium.py-small
        ' …
