form.search-form.mb-xlarge method="get"
  input.form-input.mr-small type="search" name="q" data-field-input=true placeholder=placeholder_text value=search_query
  button.button.button--primary type="submit" Search
