/* Inactive class applied to order fulfill line items that aren't being supplied by MUP */
.inactive {
  opacity: 0.3;
}

/* Roneo includes success, warning and ghost variants on the default label class.
   I'm adding an additional failure variant as the .label--failure class is being
   added to an order product status label. The order decorator is s/cancelled/failure
   Roneo does have a .label--warning that uses the same red background as this class.
*/
.label--failure {
  background-color: #eb4d5c;
}

.thumbnail {
  max-width: 12rem;
}
