.form-input {
  color: var(--color-black);
  border: 1px solid #999;
  background-color: var(--color-white);
  font-size: 1.6rem;
  padding: 0.6em 0.7em 0.8em;
  resize: none;
  width: 100%;
  transition-property: border-color;
  transition-duration: 100ms;
}
@media screen and (max-width: 500px) {
  .form-input {
    font-size: 1.5rem;
  }
}
.form-input:focus {
  border-color: var(--color-black);
  outline: none;
}
.form-input--error {
  color: var(--color-red);
  border-color: var(--color-red);
}
.form-input--error::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.form-error {
  color: var(--color-red);
  padding-top: 0.3rem;
}
.form-label {
  cursor: pointer;
  display: block;
  font-weight: 700;
}
.form-label--error {
  color: var(--color-red);
}
.fonts-loaded .form-input,
.fonts-loaded .form-label {
  font-family: var(--font-main);
}
