doctype html
html lang="en-au"
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    meta name="turbolinks-cache-control" content="no-cache"

    / Inlined JavaScript
    script
      == assets.read("main__inline-header.js")

    / Prefetch DNS for webfonts
    link rel="dns-prefetch" href="//fonts.googleapis.com"
    link href="https://fonts.gstatic.com" rel="preconnect" crossorigin=true

    / Defer loading of non-critical CSS (fonts)
    link rel="preload" href=assets["main__defer.css"] as="style" onload="this.onload=null;this.rel='stylesheet'"
    link rel="preload" href="https://fonts.googleapis.com/css?family=Fira+Mono:400,700" as="style" onload="this.onload=null;this.rel='stylesheet'"
    noscript
      link rel="stylesheet" href=assets["main__defer.css"]
      link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Mono:400,700"

    / Assets
    link href=assets["main__public.css"] rel="stylesheet" type="text/css"
    / Load polyfills
    javascript:
      (function() {
        var ua = window.navigator.userAgent;
        // Load polyfills for <IE11
        var loadPolyfills = ua.indexOf("MSIE") > -1 || !!ua.match(/Trident\/7\./);
        if (loadPolyfills) {
          var p = document.createElement('script');
          p.type = 'text/javascript';
          p.src = "#{assets['main__polyfills.js']}";
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(p, s);
        }
      })();
    script src=assets["main__public.js"]

    title
      - if content_buffer.get(:title).to_s != ""
        ==> content_buffer.get(:title)
        ' — Corley Collection
      - else
        ' Corley Collection

    / Analytics
    == render :analytics

  body
    .wrapper
      section.content role="main"
        == render :flash_messages if flash?
        == yield
    / Inlined JavaScript
    script
      == assets.read("main__inline-footer.js")
