tr id="user-#{user.id}" data-view-row-link=JSON.generate(href: "/admin/users/#{user.id}/edit")
  td
    a href="/admin/users/#{user.id}/edit" = user.email
  td
    = user.name
  td.t-right width="150"
    == render :edit_button, path: "/admin/users/#{user.id}/edit", title: "Edit"
