p.link-children
  a> href="/admin/users" Users
  span.c-grey-mid
    ' /
h1.h-1
  = "Editing ‘#{user.name}’"
  == render :delete_button, path: "/admin/users/#{user.id}", confirmation: "Are you sure you want to delete this user?"
.panel
  .panel__primary.fb-order-2--tablet.fb-order-2--phone
    form action="/admin/users/#{user.id}" method="post"
      == csrf_tag
      input type="hidden" name="_method" value="put"
      fieldset
        legend.hide-visually Edit user
        == form.formalist_ast
      p
        button.button.button--primary type="submit" Save changes

  == render :help, template: "help/users"
