== render :actions

h1.h-1 Users

.panel
  .panel__primary.fb-order-2--tablet.fb-order-2--phone
    - if users.any?
      .table.link-children.mb-large
        table
          thead
            tr
              th Email
              th Name
              th.t-right Actions
          tbody
            - users.each do |user|
              == render :index_row, user: user
        == users.pagination
    - else
      p No users yet

  == render :help, template: "help/users"
