h1.h-1 Create user

.panel
  .panel__primary
    form action="/admin/users" method="post"
      == csrf_tag
      == form.formalist_ast
      p
        button.button.button--primary type="submit" Create user
