.flash-wrapper
  .flash.c-white
    - if flash[:alert]
      .flash__message.flash__message--alert.bg-warning.clearfix.p-xsmall
        p = flash[:alert]

    - if flash[:notice]
      .flash__message.flash__message--notice.bg-notice.clearfix.p-xsmall
        p = flash[:notice]
