/**
 * Variables
 */

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-red: #f00;
  --color-green: #13a552;
  --color-background: #eeeee8;
  --color-orange: #fa4616;
  --font-main: "Fira Mono", SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --font-main-fallback: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

/**
 * Base
 */

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

body {
  background-color: var(--color-background);
  color: var(--color-black);
  font-family: var(--font-main-fallback);
  font-size: 1.6rem;
  line-height: 1.4;
}
.fonts-loaded body {
  font-family: var(--font-main);
}
@media screen and (max-width: 500px) {
  body {
    font-size: 1.4rem;
  }
}

a {
  color: var(--color-red);
  text-decoration: underline;
  transition: color 150ms ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
}
a,
button {
  -webkit-tap-highlight-color: transparent;
}
button:focus,
a:focus {
  outline: 1px currentColor dotted;
}
button:hover,
a:hover,
button:active,
a:active {
  outline: none;
}

.content {
  background: var(--color-background);
  overflow: hidden;
}

.wrapper {
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-weight: 700;
  font-size: 2.6rem;
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }
}

p {
  font-size: 1.6rem;
}
@media screen and (max-width: 500px) {
  p {
    font-size: 1.5rem;
  }
}
p strong {
  color: var(--color-orange);
  font-weight: 700;
}
