td bgcolor="#FFFFFF" style="border-collapse:collapse" width="600"
  table#footer bgcolor="#3e3e3e" border="0" cellpadding="0" cellspacing="0" style="background-color:#3e3e3e;color:#ffffff" width="600"
    tbody
      tr style="border-collapse:collapse"
        td style="border-collapse:collapse"
        td align="center" colspan="3" height="15" style="border-collapse:collapse"  &nbsp;
        td style="border-collapse:collapse"
      tr style="border-collapse:collapse"
        td style="border-collapse:collapse" width="30"
        td colspan="3" height="30" style="border-collapse:collapse"
          p.footer-content-left align="left" style="font-family:Helvetica,Arial,sans-serif;font-size:11px;line-height:16px;color:#ffffff;margin-top:0px;margin-bottom:15px"
            a href="https://www.slq.qld.gov.au" style="color:#ffffff;text-decoration:underline;font-weight:bold" target="_blank"
              | State Library of Queensland
            |  | Cultural Precinct, Stanley Place, South Bank, Brisbane
            br style="line-height:100%" /
            | Open daily 10am—5pm (until 8pm Mon—Thu)
            br style="line-height:100%" /
            | P: 07 3840 7666 | E:
            a href="mailto:corley@slq.qld.gov.au" style="color:#ffffff;text-decoration:underline;font-weight:bold" target="_blank"  corley@slq.qld.gov.au
          p.footer-content-left align="left" style="font-family:Helvetica,Arial,sans-serif;font-size:11px;line-height:16px;color:#ffffff;margin-top:0px;margin-bottom:15px"
            a href="https://www.slq.qld.gov.au/about-us/contact-us/stay-in-touch" style="color:#ffffff;text-decoration:underline;font-weight:bold" target="_blank"
              | Stay in touch
            |  |
            a href="https://www.slq.qld.gov.au/get-involved/become-member" style="color:#ffffff;text-decoration:underline;font-weight:bold" target="_blank"  Join the library
        td style="border-collapse:collapse" width="30"
      tr style="border-collapse:collapse"
        td style="border-collapse:collapse"
        td colspan="3" height="30" style="border-collapse:collapse"
          a href="https://www.slq.qld.gov.au"
            img src="#{CorleyCollection::Container.settings.canonical_url}#{assets["main/assets/public/email/mailer-logo.png"]}" alt="SLQ QLD gov logo" width="182" height="39" align="left" style="outline-style:none;text-decoration:none;border-style:none;display:block"
          img src="#{CorleyCollection::Container.settings.canonical_url}#{assets["main/assets/public/email/all-yours.png"]}" alt="Yours" width="90" height="39" align="right" style="outline-style:none;text-decoration:none;border-style:none;display:block"
        td style="border-collapse:collapse"
      tr style="border-collapse:collapse"
        td style="border-collapse:collapse"
        td colspan="3" height="30" style="border-collapse:collapse"  &nbsp;
        td style="border-collapse:collapse"
      tr style="border-collapse:collapse"
        td style="border-collapse:collapse" width="30"
        td style="border-collapse:collapse" valign="top" width="360"
        td.hide style="border-collapse:collapse;display:none!important" width="60"
        td style="border-collapse:collapse" width="160"
        td style="border-collapse:collapse" width="30"
