Dear <%= contributor.first_name %>,

A new story by <%= story.contributor.public_name %> has been posted on a photograph you subscribe to.

You can read the story here: <%= photograph_url %>

Why am I receiving this email?

You received this email because you opted to get notifications for photograph <%= photograph.slq_identifier %> on the Corley Explorer (https://explorer.corley.slq.qld.gov.au).

If you no longer want to receive notifications for this photograph visit: <%= unsubscribe_url %>

Privacy notice

The State Library of Queensland respects your privacy. Personal information we collect is used only for our internal activities and functions Libraries Act 1988 and will not be discussed unless required by law. For more information, please read State Library's Privacy Statement (http://www.slq.qld.gov.au/home/privacy).

