p Dear #{contributor.first_name},

p A new story by #{story.contributor.public_name} has been posted on a photograph you subscribe to.

p = photograph_description

p
  ' You can
  a href=photograph_url read the story here
  | .

p
  strong Why am I receiving this email?

p
  ' You received this email because you opted to get notifications for photograph #{photograph.slq_identifier} on the
  a href="https://explorer.corley.slq.qld.gov.au" Corley Explorer
  | .

p
  ' If you no longer want to receive notifications for this particular photograph
  a href=unsubscribe_url unsubscribe here
  | .

p
  ' To remove notifications for all photographs
  a href=global_unsubscribe_url unsubscribe here
  | .

p
  strong Privacy notice

p The State Library of Queensland respects your privacy. Personal information we collect is used only for our internal activities and functions (<a href="http://www.legislation.qld.gov.au/LEGISLTN/CURRENT/L/LibrarArchA88.pdf" target="_blank">Libraries Act 1988</a>) and will not be discussed unless required by law. For more information, please read State Library's <a href="http://www.slq.qld.gov.au/home/privacy" target="_blank">Privacy Statement</a>.
