Hello <%= contributor.full_name %>,

Recently you (or perhaps someone else) requested a password reset for a Corley Collection account with the email address <%= contributor.email %>.

You can reset your password by visiting this URL: <%= password_reset_url %>, which is valid for only 24 hours.

If you didn't request a password reset please disgregard this email. You can continue to use your existing password to login.
