p Hello #{contributor.full_name},

p Recently you (or perhaps someone else) requested a password reset for a Corley Collection contributor account with the email address #{contributor.email}.

p
  ' You can reset your password by following
  a href=password_reset_url this link
  ' , which is valid for only 24 hours.

p If you didn't request a password reset please disgregard this email. You can continue to use your existing password to login.

