Dear <%= contributor.first_name %>,

<% if active_localities.none? %>
There was no activity in any of the places you subscribe to this week.
<% else %>
There has been recent activity in some of the places you subscribe to. The activity included:
  <% active_localities.each do |active_locality| %>
    <% active_locality[:stories].first(item_limit).each do |story| %>
      <%= story.contributor.public_name %> wrote a story about <%= story.photograph.slq_identifier %>:
      <%= "#{corley_explorer_url}/#!/photograph/#{story.photograph.slq_identifier}" %>
    <% end %>

    <% active_locality[:geo_located_photographs].first(item_limit).each do |photograph| %>
      Photograph <%= photograph.slq_identifier %> was identified as <%= photograph.street_address %>:
      <%= "#{corley_explorer_url}/#!/photograph/#{photograph.slq_identifier}" %>
    <% end %>
  <% end %>
<% end %>

Why am I receiving this email?

You received this email because you opted to get notifications for certain places on the Corley Explorer (https://explorer.corley.slq.qld.gov.au).

To unsubscribe to all place notifications, visit <%= global_unsubscribe_url%>

To unsubscribe to specific places, visit any of the following:

<% contributor.localities.each do |locality| %>
  Unsubscribe to <%= locality.name %>: <%= "#{canonical_url}/locality-notification-subscriptions/#{subscriptions.detect { |s| s.locality_id == locality.id }&.token}/unsubscribe" %>
<% end %>

Privacy notice

The State Library of Queensland respects your privacy. Personal information we collect is used only for our internal activities and functions Libraries Act 1988 and will not be discussed unless required by law. For more information, please read State Library's Privacy Statement (http://www.slq.qld.gov.au/home/privacy).
