p Dear #{contributor.first_name},

- if active_localities.none?
  p There was no activity in any of the places you subscribe to this week.
- else
  p There has been recent activity in some of the places you subscribe to. The activity included:

  - active_localities.each do |active_locality|
    p
      strong = active_locality[:locality].name

    - active_locality[:stories].first(item_limit).each do |story|
      p
        ' #{story.contributor.public_name} wrote a story about
        a href="#{corley_explorer_url}/#!/photograph/#{story.photograph.slq_identifier}"
          - if story.photograph.street_address
            | #{story.photograph.street_address}
          - else
            | photograph #{story.photograph.slq_identifier}

    - active_locality[:geo_located_photographs].first(item_limit).each do |photograph|
      p
        ' Photograph #{photograph.slq_identifier} was identified as
        a href="#{corley_explorer_url}/#!/photograph/#{photograph.slq_identifier}"
          | #{photograph.street_address}

- most_active_localities.any?
  p
    strong Overall most active places this week
  - most_active_localities.each do |locality|
    p
      a href="#{corley_explorer_url}/#!/places?#{locality[:locality_name].gsub(' ','-')}"
        | #{locality[:locality_name]}
      | , #{locality[:story_count]} new stories
  p
    a href="#{corley_explorer_url}/#!/stories"
      | View all recent stories

p
  strong Why am I receiving this email?

p
  ' You received this email because you opted to get notifications for certain places on the
  a href="https://explorer.corley.slq.qld.gov.au" Corley Explorer
  | .

p
  ' To unsubscribe to all place notifications
  a href=global_unsubscribe_url click here
  | .

p
  | To unsubscribe to specific places, click on any of the following:

- contributor.localities.each do |locality|
  p
    a href="#{canonical_url}/locality-notification-subscriptions/#{subscriptions.detect { |s| s.locality_id == locality.id }&.token}/unsubscribe" Unsubscribe from #{locality.name}
    | .

p
  strong Privacy notice

p The State Library of Queensland respects your privacy. Personal information we collect is used only for our internal activities and functions (<a href="http://www.legislation.qld.gov.au/LEGISLTN/CURRENT/L/LibrarArchA88.pdf" target="_blank">Libraries Act 1988</a>) and will not be discussed unless required by law. For more information, please read State Library's <a href="http://www.slq.qld.gov.au/home/privacy" target="_blank">Privacy Statement</a>.
