p Dear #{contributor.full_name},

p
  ' Thanks for signing up to the
  a href="https://explorer.corley.slq.qld.gov.au" Corley Explorer
  | .

p Your contributor account email address is #{contributor.email}.

p
  ' We’re working on fully integrating the Corley Explorer into State Library of Queensland’s membership services. If you can’t wait, and you’re not already a member of State Library,
  a href="http://www.slq.qld.gov.au/services/membership/how-to-join" join us now
  '  and access all of the
  a href="http://www.slq.qld.gov.au/services/membership/benefits" membership benefits
  | .

p
  strong Privacy notice

p The State Library of Queensland respects your privacy. Personal information we collect is used only for our internal activities and functions (<a href="http://www.legislation.qld.gov.au/LEGISLTN/CURRENT/L/LibrarArchA88.pdf" target="_blank">Libraries Act 1988</a>) and will not be discussed unless required by law. For more information, please read State Library's <a href="http://www.slq.qld.gov.au/home/privacy" target="_blank">Privacy Statement</a>.
