Dear <%= contributor.full_name %>,

Thanks for signing up to the Corley Explorer (https://explorer.corley.slq.qld.gov.au).

Your contributor account email address is <%= contributor.email %>.

We’re working on fully integrating the Corley Explorer into State Library of Queensland’s membership services.

If you can’t wait, and you’re not already a member of State Library, visit http://www.slq.qld.gov.au/services/membership/how-to-join to join us now and access all of the membership benefits http://www.slq.qld.gov.au/services/membership/benefits.
