h1.h-1 Story analytics

.panel
  .panel__primary
    h2.h-smallcaps.mb-small Stories by month
    p.mb-small #{total_stories_count} total stories

    .admin-charts__wrapper
      .admin-charts__item
        canvas data-view-bar-chart=JSON.generate({ \
            labels: created_stories_by_month.map(&:formatted_month).reverse, \
            datasets: [{label: "Stories created", backgroundColor: "rgba(115,171,242,0.4)", data: created_stories_by_month.map(&:count).reverse}] \
          })

    .table.mb-large
      table
        thead
          tr
            th Month
            th Stories created
        tbody
          - created_stories_by_month.each do |entry|
            tr
              td = entry.formatted_month
              td = entry.count

.panel
  .panel__primary
    h2.h-smallcaps.mb-small Contributor images by month
    p.mb-small #{total_contributor_images_count} total contributed images

    .admin-charts__wrapper
      .admin-charts__item
        canvas data-view-bar-chart=JSON.generate({ \
            labels: created_contributor_images_by_month.map(&:formatted_month).reverse, \
            datasets: [{label: "Images contributed", backgroundColor: "rgba(115,171,242,0.4)", data: created_contributor_images_by_month.map(&:count).reverse}] \
          })

    .table.mb-large
      table
        thead
          tr
            th Month
            th Contributor images created
        tbody
          - created_contributor_images_by_month.each do |entry|
            tr
              td = entry.formatted_month
              td = entry.count
