h1.h-1 Contributor images help

p Contributors are able to attach images to their stories.

p If an image is inappropriate you can either delete or unpublish it.

p You can also edit its caption.

p You can edit the following properties of a contributor image.

h2 Caption

p The image's caption

h2 Published

p Whether the image should appear on the public site.
