h1.h-1 Contributors help

p Contributors are members of the public who've signed up for an account on the Corley application.

p Contributors can submit stories (with images), as well as subscribe to photographs or localities (places).

p Contributors authenticate via an email address and password. They can reset their password from the sign in page should they forget it.

p Contributors have the following properties you can edit:

h2 Email

p The contributor's email address, used to sign in.

h2 First name

p The contributor's first name.

h2 Last name

p The contributor's last name.

h2 Suspended?

p You can suspend an account for inappropriate behaviour. Suspended accounts can no longer sign in to the system. They can still unsubscribe from notifications.

p You should suspend rather than delete accounts. If you delete an account, a person can use the same email address to sign up again.
