h1.h-1 Photographs help

p The Corley Collection comprises many thousands of photographs.

p
  ' Each photograph is identified by an
  strong SLQ identifier
  | .

p To find a specific photograph, search using its SLQ identifying, e.g. 1-0-124.

p You can edit the following properties of each photograph.

h2 SLQ identifier

p Every photograph has a unique SLQ identifier.

h2 Spool

p Every photograph belongs to a spool. Edit this value to reassign a photograph to another spool.

h2 Locality

p Photographs may have a specific locality, usually assigned when they are geolocated. Otherwise photographs are usually treated as having the localities of their spool.

h2 Street number

p The photograph's street number, usually assigned when it is geolocated.

h2 Street name

p The photograph's street name, usually assigned when it is geolocated.

h2 Street type

p The photograph's street type, usually assigned when it is geolocated.

h2 Street address

p The photograph's full street address, usually assigned when it is geolocated.

h2 postcode

p The photograph's postcode, usually assigned when it is geolocated.

h2 Latitude

p The photograph's latitude, usually assigned when it is geolocated.

h2 Longitude

p The photograph's longitude, usually assigned when it is geolocated.

h2 House name

p The photograph's house name. Used if a house name can be seen in the photograph.

h2 Annotations

p Any writing visible on the photograph itself.

h2 Shop?

p Whether the photograph depicts a shop.

h2 Damaged?

p Whether the photograph is damaged.

h2 Tags

p The tags associated with this photograph, describing aspects such as its roof shape, wall material, height and so on.

