h1.h-1 Spools help

p The Corley Collection comprises around 3,600 spools.

p
  ' Each spool is identified by an
  strong SLQ identifier
  | .

p To find a specific spool, search using its SLQ identifying, e.g. 6169-0001.

p You can edit the following properties of each spool.

h2 SLQ identifier

p Every spool has a unique SLQ identifier.

h2 Content description

p Every spool has a content description describing it.

h2 Photograph count

p Every spool has a photograph count. This is used to determine how many photographs to display in the spool on the public site. Change this number if a spool has less or more photographs than expected.

h2 Assigning photographs to a spool

p To assign specific photographs to a spool, edit the spool attribute of the photograph records in question.


