h1.h-1 Stories help

p Contributors are able to submit a story about a photograph.

p Each story has a body and an optional number of images attached.

p If a story is not appropriate, you can either delete or unpublish it to remove if from public display.

p You can also edit the caption or publication status of any contributor image attached to a story.

p By default, stories are published as soon as they are created. If this is causing problems and stories should be reviewed before publication, an SLQ network administrator with privileges for the corley application can run the following command:

p
  strong heroku config:set IMMEDIATE_STORY_PUBLICATION=false --app corley-collection

p
  ' A summary of newly submitted stories is sent each day to
  strong corley@slq.qld.gov.au
