h1.h-1 Tags help

p Photographs can be tagged with a variety of tags.

p In addition to a name, all tags have a type and a source.

h2 Tag types

p There are several types of tag, including:

ul
  li roofMaterial
  li roofShape
  li wallMaterial
  li fence
  li height
  li details
  li extras
  li Contributor

p To give contributors the option to select a roof made from paper, create a tag named 'paper' of type 'roofMaterial'.

p The tag should then appear on the Explorer as a selectable roof material. Please note there may be a delay as information makes its way through the content delivery network.

h2 Contributor tags

p Contributor tags are a special type of tag. They are submitted by contributors (and thus may sometimes be of low quality).

p You can promote a Contributor tag to be a details, extras or other type of tag by editing it and changing its type.

h2 Source

p In the initial phase of this project it was projected that machine learning may be able to provide a set of tags. The source field has one of these two values:

ul
  li Human
  li Machine

p You should use Human for any tag created by you or a contributor.


