h1.h-1 Users help

p Users are administrators of the Corley application.

p
  ' You can add a new user by clicking the
  strong Add a user
  |  button.

p The new user will receive an email invitation to login and choose a password.

p You can edit the name or email address of any user.

p
  ' You remove any user by using the
  strong Delete
  |  button.
