h1 Forgotten your password?
.panel.bg-white.mt-medium.p-medium
  form.sign-in__form action="/contributors/forgot-password" method="POST"
    == csrf_tag
    fieldset.mb-small
      label.form-label.mb-xsmall class=("form-label--error" if errors[:email]) for="contributor-email" Email
      input.form-input class=("form-input--error" if errors[:email]) type="email" name="contributor[email]" id="contributor-email" placeholder="your@email.com" value=input[:email]
      - if errors[:email]
        .form-error= errors[:email].join(", ")
    p
      button.button.button--primary type="submit" Reset password
