h1.pb-xsmall Sign up
p Become a Corley Collection contributor
.panel.bg-white.mt-medium.p-medium
  .panel
    form.sign-up__form action="/contributors/sign-up" method="POST"
      == csrf_tag
      fieldset.mb-small
        label.form-label.mb-xsmall class=("form-label--error" if errors[:first_name]) for="contributor-first-name" First name
        input.form-input class=("form-input--error" if errors[:first_name]) type="text" name="contributor[first_name]" id="contributor-first-name" placeholder="Your first name" value=input[:first_name]
        - if errors[:first_name]
          .form-error= errors[:first_name].join(", ")
      fieldset.mb-small
        label.form-label.mb-xsmall class=("form-label--error" if errors[:last_name]) for="contributor-last-name" Last name
        input.form-input class=("form-input--error" if errors[:last_name]) type="text" name="contributor[last_name]" id="contributor-last-name" placeholder="Your last name" value=input[:last_name]
        - if errors[:last_name]
          .form-error= errors[:last_name].join(", ")
      fieldset.mb-small
        label.form-label.mb-xsmall class=("form-label--error" if errors[:email]) for="contributor-email" Email
        input.form-input class=("form-input--error" if errors[:email]) type="email" name="contributor[email]" id="contributor-email" placeholder="your@email.com" value=input[:email]
        - if errors[:email]
          .form-error= errors[:email].join(", ")
      fieldset.mb-large
        label.form-label.mb-xsmall class=("form-label--error" if errors[:password]) for="contributor-password" Password
        input.form-input class=("form-input--error" if errors[:password]) type="password" name="contributor[password]" id="contributor-password" placeholder="Your password" value=input[:password]
        - if errors[:password]
          .form-error= errors[:password].join(", ")
      fieldset.mb-large
        label.form-label.mb-xsmall class=("form-label--error" if errors[:password_confirmation]) for="contributor-password-confirmation" Password confirmation
        input.form-input class=("form-input--error" if errors[:password_confirmation]) type="password" name="contributor[password_confirmation]" id="contributor-password-confirmation" placeholder="Confirm your password" value=input[:password_confirmation]
        - if errors[:password_confirmation]
          .form-error= errors[:password_confirmation].join(", ")
      fieldset.mb-large
        .sign-up__terms
          p State Library welcomes contributions of your photos, stories and tags to the Corley Explorer. You retain copyright in the photos and stories you submit. However, by submitting, you agree that the content is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 Licence</a> and State Library will be able to re-use the content with attribution to you, the contributor.
          label.pt-small.mr-small.d-inline-block.sign-up__label
            input.sign-up__input type="checkbox" name="contributor[accept_terms]" value="true" checked=("checked" if input[:accept_terms])
            span.pl-xsmall.t-bold I Agree
          - if errors[:accept_terms]
            .form-error
              | You must accept these terms to continue
          .pt-small
            p Please also take a moment to view our <a href="https://www.slq.qld.gov.au/sites/default/files/0008-229688-comments-policy-2017-web-copy_0.pdf" target="_blank">Comments Policy</a>.
          .pt-small
            h2 Privacy notice
            p The State Library of Queensland respects your privacy. Personal information we collect is used only for our internal activities and functions (<a href="http://www.legislation.qld.gov.au/LEGISLTN/CURRENT/L/LibrarArchA88.pdf" target="_blank">Libraries Act 1988</a>) and will not be discussed unless required by law. For more information, please read State Library's <a href="http://www.slq.qld.gov.au/home/privacy" target="_blank">Privacy Statement</a>.
      p
        button.button.button--primary type="submit" Sign up
        a.ml-small.link href="/contributors/sign-in" Already a contributor? Sign in
