h1 Reset your password
.panel.bg-white.mt-medium.p-medium
  form.sign-in__form action="/contributors/reset-password/#{contributor.password_reset_token}" method="POST"
    == csrf_tag
    fieldset.mb-large
      label.form-label.mb-xsmall class=("form-label--error" if errors[:password]) for="contributor-password" You new Password
      input.form-input class=("form-input--error" if errors[:password]) type="password" name="contributor[password]" id="contributor-password" placeholder="Your password" value=input[:password]
      - if errors[:password]
        .form-error= errors[:password].join(", ")
    fieldset.mb-large
      label.form-label.mb-xsmall class=("form-label--error" if errors[:password_confirmation]) for="contributor-password-confirmation" Confirm your new password
      input.form-input class=("form-input--error" if errors[:password_confirmation]) type="password" name="contributor[password_confirmation]" id="contributor-password-confirmation" placeholder="Confirm your password" value=input[:password_confirmation]
      - if errors[:password_confirmation]
        .form-error= errors[:password_confirmation].join(", ")
    p
      button.button.button--primary type="submit" Reset password
