h1 Sign in
.panel.bg-white.mt-medium.p-medium
  form.sign-in__form action="/contributors/sign-in" method="POST"
    == csrf_tag
    fieldset.mb-small
      label.form-label.mb-xsmall for="contributor-email" Email
      input.form-input type="email" name="contributor[email]" id="contributor-email" placeholder="your@email.com"
    fieldset.mb-large
      label.form-label.mb-xsmall for="contributor-password"Password
      input.form-input type="password" name="contributor[password]" id="contributor-password" placeholder="Your password"
    p
      button.button.button--primary type="submit" Sign in
      a.ml-small.link href="/contributors/forgot-password" Forgot password
    p.mt-medium
      a.link href="/contributors/sign-up" No account? Create one
