/**
 * Flash messages
 */

.flash-wrapper {
  margin-bottom: 2rem;
}
.flash {
  z-index: 100;
}
.flash__message {
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
  opacity: 1;
  text-align: center;
  transform: translate3d(0, 0, 0);
  transition-property: opacity, transform;
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0.79, 0.04, 0.27, 1);
}
.flash__message--hidden {
  transform: translate3d(0, -100px, 0);
  opacity: 0;
}

.flash button {
  outline: none;
}
